.about-style {
  padding-top: 20px;
  width: 75%;
}

.fa {
  color: #2b2b2b;
  font-size: 150%;
  padding: 10px;
}

hr.light {
  border-top: 1px solid #b4b4b4;
  width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #222222;
  background-color: #f8f9fa;
}

.inconspicuous {
  font-size: 75%;
  width: 100%;
  background-color: transparent;
  border-color: transparent;
}

.information {
  padding-top: 30px;
}

.navbar {
  padding: 0.8rem;
}

.navbar-brand {
  font-size: 125%;
  font-weight: 700;
}
.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.partial-width {
  width: 75%;
}

.profile-image {
  width: 20%;
  padding: 20px;
  border-radius: 50%;
}

.title-image {
  margin: 0;
  padding: 0;
  text-align: center;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 30px;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

/*---- Media Queries ----*/
@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
