.about-style {
  width: 75%;
  margin: 0 auto;
  padding-top: 30px;
}

.about-text {
  font-size: 200%;
}

.fa {
  color: #2b2b2b;
  font-size: 150%;
  padding: 10px;
}

.full-width {
  width: 100%;
  background-color: white;
}

hr.light {
  border-top: 1px solid #b4b4b4;
  width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #222222;
  background-color: #f8f9fa;
}

.inconspicuous {
  font-size: 75%;
  width: 100%;
  background-color: transparent;
  border-color: transparent;
}

.info-text {
  font-size: 150%;
  padding-top: 30px;
}

.navbar {
  padding: 0.8rem;
}

.navbar-brand {
  font-size: 125%;
  font-weight: 700;
}
.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.no-headspace {
  margin-top: 0;
}

.profile-image {
  width: 250px;
  padding: 20px;
  border-radius: 50%;
}

.subinfo-text {
  font-size: 100%;
}

.subtitle-text {
  font-size: 120%;
}

.title-image {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  opacity: 1;
}

.title-text {
  font-weight: 500;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 10px;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

/*---- Media Queries ----*/
@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .about-style {
    width: 90%;
  }

  .about-text {
    font-size: 175%;
  }
}

@media (max-width: 576px) {
  .about-style {
    width: 100%;
  }

  .about-text {
    font-size: 150%;
  }

  .info-text {
    font-size: 140%;
  }

  .subinfo-text {
    font-size: 90%;
  }

  .subtitle-text {
    font-size: 110%;
  }

  .title-text {
    font-size: 200%;
  }
}
