.outline {
  border: medium solid;
  align-items: center;
}

.my-header {
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  font-style: italic;
  background-color: rgb(50, 54, 51);
  color: rgb(204, 199, 199);
  border-radius: 0px;
  padding: 10px 30px;
  margin-bottom: 30px;
}

.row {
  margin-right: 0;
}

.button-format {
  background-color: rgb(50, 54, 51);
  color: rgb(204, 199, 199);
}

.button-width {
  width: 10px;
}

.btn:hover {
  background-color: rgb(100, 100, 100);
  color: rgb(204, 199, 199);
}

.my-paragraph {
  text-align: center;
}

.link-color {
  color: rgb(204, 199, 199);
}

.link-color:hover {
  color: rgb(204, 199, 199);
}

.button-align {
  text-align: right;
  padding-right: 0px;
  margin-right: 0px;
}

.column-margins {
  margin-bottom: 15px;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: rgb(50, 54, 51);
  border-color: rgb(50, 54, 51);
  color: rgb(204, 199, 199);
}

.full-width {
  width: 100%;
}

.button-space {
  padding-right: 40px;
  padding-left: 40px;
}

@media (max-width: 750px) {
  .button-space {
    padding: 0px;
  }
}

@media (max-width: 600px) {
  .my-header {
    text-align: center;
    margin-bottom: 0px;
  }

  .button-align {
    text-align: center;
    padding-right: 0;
    padding-left: 0;
  }
}
